##############################
# Aliases
#############################

alias zshrc="source ~/.zshrc"
alias zshconfig="$EDITOR ~/.zshrc"
alias myip="curl http://ipecho.net/plain; echo"
alias hosts="sudo $EDITOR /etc/hosts"
alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"


alias cp="cp -i"      # Confirm before overwriting something
alias df='df -h'      # Human-readable sizes
alias free='free -m'  # Show sizes in MB

alias grep='grep --color=always'

## COLORLS
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'



## List declared aliases, functions, paths

alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

## dev
alias dev="cd ~/dev"
alias repos="cd ~/dev/repos"

### docker
alias dup="docker-compose up -d"
alias dstop="docker-compose stop"


### vscode
alias vsc=code
